@font-face {
    font-family: myFont;
    src: url(CASEFONT.TTF);
}

body {
    background-color: grey;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    bottom: 10px;
    height: 2000%;
}

button {
    color: black;
}

section {
    margin-top: 50px;
    justify-content: center;
}

.container {
    display: table;
    justify-content: center;
    white-space: nowrap;
}

.board {
    width: 63vmin;
}

.letters {
    width: 56vmin;
}

.edit {
    width: 14vmin;
}

.board-button {
    font-size: 5vmin;
    font-family: myFont;
}

.cell {
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    width: 7vmin;
    height: 7vmin;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

button:hover {
    background-color: lightcyan;
}

select:hover {
    background-color: lightcyan;
}

.coordinates {
    font-size: 2vmin;
    font-weight: bold;
}

.white {
    background-color: white;
}

.black {
    background-color: lightgrey;
}

.green{
    background-color: lightgreen;
}

.green-border{
    outline: 4px solid lightgreen;
    outline-offset: -6px;
}

.yellow {
    background-color: lightyellow;
}

.promotion {
   
}

.show {
    visibility: hidden;
}

#text {
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 30px;
    line-height: 2;
}

.non-board-button {
    width: 7vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    border-radius: 10%;
    font-weight: bold;
}


.highlight {
    outline: 4px solid black;
    outline-offset: -6px;
}

.editor {
    position: relative;
    top: 92.5px;
}

#remove {
    top: 125px;
    background-color: lightcoral
}

#turn {
    font-size: 20px;
}

#info {
    position: relative;
    font-size: 22.5px;
    top: 300px;
}

.red {
    background-color: lightcoral;
}
