@font-face {
    font-family: myFont;
    src: url(CASEFONT.TTF);
}

body {
    background-color: grey;
}

main {
    display: flex;
    justify-content: center;
}

button {
    color: black;
}

section {
    height: 100vh;
}

.content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container {
    display: table;
    justify-content: center;
    white-space: nowrap;
}

.board {
    width: 77vmin;
}

.letters {
    width: 56vmin;
}

.board-button {
    font-size: 4.5vmin;
    font-family: myFont;
}

.cell {
    display: table-cell;
    width: 7vmin;
    height: 7vmin;
    text-align: center;
    vertical-align: middle;
}

button:hover {
    background-color: lightcyan;
}

select:hover {
    background-color: lightcyan;
}

.coordinates {
    font-size: 2vmin;
    font-weight: bold;
}

.white {
    background-color: white;
}

.black {
    background-color: lightgrey;
}

.green{
    background-color: lightgreen;
}

.green-border{
    outline: 4px solid lightgreen;
    outline-offset: -6px;
}

.yellow {
    background-color: lightyellow;
}

.show {
    visibility: hidden;
}

#text {
    text-align: center;
    font-size: 3vmin;
    line-height: 2;
}

.non-board-button {
    width: 7vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    border-radius: 10%;
    font-weight: bold;
}


.highlight {
    outline: 4px solid black;
    outline-offset: -6px;
}

.remove {
    display: table-cell;
    width: 14vmin;
    height: 7vmin;
    text-align: center;
    vertical-align: middle;
}

#remove {
    background-color: lightcoral;
    width: 8vmin;
    height: 4vmin;
    font-size: 1.5vmin;
    border-radius: 10%;
    font-weight: bold;
}

#turn {
    font-size: 1.5vmin;
}

.turn {
    display: table-cell;
    width: 14vmin;
    height: 7vmin;
    text-align: center;
    vertical-align: bottom;
}

.castle {
    display: table-cell;
    width: 14vmin;
    height: 7vmin;
    text-align: center;
    vertical-align: middle;
}

.red {
    background-color: lightcoral;
}

label {
    font-size:  1.2vmin;
}