@font-face {
    font-family: myFont;
    src: url(CASEFONT.TTF);
}

body {
    background-color: grey;
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    bottom: 10px;
    height: 2000%;
}

button {
    color: black;
}

section {
    margin-top: 50px;
    justify-content: center;
}

.container {
    display: table;
    justify-content: center;
    white-space: nowrap;
  }

.board {
    width: 72vmin;
}

.letters {
    width: 64vmin;
}

.edit {
    width: 16vmin;
}

.container-letters {
    display: table;
    justify-content: center;
    white-space: nowrap;
}

.board-button {
    display: table-cell;
    font-size: 6vmin;
    width: 8vmin;
    height: 8vmin;
    text-align: center;
    vertical-align: middle;
    font-family: myFont;
}

button:hover {
    background-color: lightcyan;
}

select:hover {
    background-color: lightcyan;
}

.coordinates {
    display: table-cell;
    font-size: 2vmin;
    width: 8vmin;
    height: 8vmin;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.white {
    background-color: white;
}

.black {
    background-color: lightgrey;
}

.green{
    background-color: lightgreen;
}

.green-border{
    outline: 4px solid lightgreen;
    outline-offset: -6px;
}

.yellow {
    background-color: lightyellow;
}

.promotion {
    position: relative;
    right: 20px;
    top: 185px;
}

.show {
    visibility: hidden;
}

#text {
    position: relative;
    text-align: center;
    top: 10px;
    font-size: 30px;
    line-height: 2;
}

.non-board-button {
    width: 100px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 50px;
    font-size: 20px;
    border-radius: 10%;
}

#board-editor {
    left: 225px;
}

.highlight {
    outline: 4px solid black;
    outline-offset: -6px;
}

.editor {
    position: relative;
    top: 92.5px;
}

#remove {
    top: 125px;
    background-color: lightcoral
}

#turn {
    font-size: 20px;
}

#info {
    position: relative;
    font-size: 22.5px;
    top: 300px;
    right: 50px;
}

.red {
    background-color: lightcoral;
}
